.logo{
    height: 200px;
    width: 260px;
   margin-left: 45%;
   margin-top: 20px;
}
.input{
    width: 700px;
    height: 40px;
    border-radius: 30px;
    margin-left: 30%;
}
.button{
    margin-left: 700px;
    margin-top: 10px;
}
.offered{
    text-align: center;
}
.right{
    float: right;
    word-spacing: 10px;
}
.sections{
    margin-top: 310px;
    /* width: 1500px;  */
    height: 50px;
    background-color: silver;
}
.section{
    background-color: silver;
      word-spacing: 10px;
}
.navbar{
/* border: 2px solid black;
overflow: hidden;
background-color: orangered; */
border: 2px solid black;
word-spacing: 80px;
font-size: larger;
font-weight: 600;
background-color: rgb(221, 86, 28);
color: #ccc;
padding: 10px;
  
}
.space{
    word-spacing: 10px; 
}
body{
    background-color:beige;
}
.center{
    text-align: center;
}

