/*Css Reset*/
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/* Navigation Bar: Logo and Images */

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 90px;
    margin: 3px 6px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover{
    color: rgba(16, 18, 17, 0.753);
    background-color: sienna;
}

/* Home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background:url(../rasturant2.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;

}

#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
}

/* Services Section */

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
    

}

#services .box img{
    height: 110px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Josefin Sans', sans-serif; 
}


/* Client Section*/
#client-section{
    position: relative;
 height: 344px;
}

#client-section::before{
    content:"";
    position: absolute;
    background-image: url(../reasturant.jpeg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }


#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Josefin Sans', sans-serif;
}

.h-secondary{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
    padding: 12px;
}

.center{
    text-align: center;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
}