@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,700;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 95vh;
    background: url("../orange.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .navbar{
    border: 2px solid black;
 }
.header .logo,
.header .navbar a{
    color: white;
}

.header .navbar.logo{
    float: left;
}

.header .navbar .nav-items{
    float: right;
}